.ec-find {
	margin-top: 10px;
}

.ec-find .nav {
	margin-top: 30px;
	margin-bottom: 30px;
}	

.ec-find .nav li a {
	border: 2px solid #fff;
	background-color: #f3f2f1;
	cursor: pointer;
	border-radius: 0 0 0 0;
	font-family: HelveticaNeueW01-65Medi;
	font-size: 16px;
	color: #555;
}

.ec-find .nav li a:hover {
	text-decoration: underline;
}

.ec-find .nav li.active a, .ec-find .nav li.active a:hover {
	border: 2px solid #fff;
	border-top: 2px solid #00b1d9;
	background-color: #fff;
	border-radius: 0 0 0 0;
	font-family: HelveticaNeueW01-75Bold;
	color: black;
}

@media (max-width: 767px) {

	.ec-find .nav li.active a, .ec-find .nav li.active a:hover {
		border: 2px solid #00b1d9;
	}

}	

.ec-find .ec-sorting {
	margin-top: 20px;
	margin-bottom: 20px;
}

.ec-find .ec-sorting .btn {
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 7px;
}

.ec-find .ec-sorting .btn.pull-right {
	margin-left: 10px;
	margin-right: 0px;
}

.ec-find .ec-sorting .btn.pull-right .glyphicon {
	margin-left: 10px;
}

.ec-find .ec-sorting .btn .icon-comment {
	margin-left: 10px;
}



.ec-find .panel {
	font-family: HelveticaNeueW01-55Roma;
	font-size: 16px;
}

.ec-find .panel-heading {
	font-family: HelveticaNeueW01-55Roma;
	font-size: 18px;
}

.ec-find .panel-body h3 {
	font-family: HelveticaNeueW01-65Medi;
	font-size: 18px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 20px;
}

.ec-find .panel-body h4 {
	font-family: HelveticaNeueW01-65Medi;
	font-size: 16px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 5px;
}

.ec-find .panel-body p {
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 1;
}

.ec-find .panel-body .ec-actions {
	margin-top: 20px;
	margin-bottom: 0px;
}

.ec-find .panel-body .ec-actions .btn {
	font-family: HelveticaNeueW01-55Roma;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 10px;
}

.ec-find .panel-body .ec-actions .btn-success {
	background-color: #4b8400;
}



.ec-find table th {
	font-family: HelveticaNeueW01-65Medi;
	font-size: 15px;
	font-weight: 300;
}

.ec-find table td {
	font-family: HelveticaNeueW01-55Roma;
	font-size: 15px;
}



.ec-filters {
	color: black;	
	padding-top: 5px;
	font-family: HelveticaNeueW01-55Roma;
	font-size: 16px;
}

.ec-filters h3 {
	font-family: HelveticaNeueW01-75Bold;
	font-size: 24px;
}

.ec-filters h4 {
	font-family: HelveticaNeueW01-75Bold;
	font-size: 16px;	
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #666;
}

.ec-filters .checkbox {
	margin-top: 5px;
	margin-bottom: 0px;
}

.ec-filters .form-group {
	margin-left: 20px;
	margin-top: 5px;
}

.ec-filters input {
	font-family: HelveticaNeueW01-55Roma;
	font-size: 16px;
}

.ec-filters .btn {
	font-family: HelveticaNeueW01-55Roma;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.ec-filters .btn-success {
	background-color: #4b8400;
}

